extends includes/layout.pug

block append styles
  +link-styles('../src/styles/components/form.scss')
  +link-styles('../src/styles/components/logo.scss')
  +link-styles('../src/styles/components/button.scss')
  +link-styles('../src/styles/components/link.scss')
  +link-styles('../src/styles/pages/onboarding.scss')

block content
  .onboarding
    .logo.onboarding__logo
      .logo__icon
        img(
          src='images/icons/logo-star.svg'
        )
      .logo__title
        .logo__name SPACEHOUSE
        .logo__description Cybernetically enhanced communication
    form.form.login.onboarding__form(
      onsubmit='return false'
    )
      .form__title Вход
      .form__fields
        each field, key in {login:'Логин', password: 'Пароль'}
          label.form__field(
            data-form-key=key
          ) #{field}
            if key === 'password'
              input.form__field-input(
                type='password'
              )
            else
              input.form__field-input
      button.button.button_primary.form__button Авторизоваться
      //- a(
      //-   href="chat.pug"
      //- )
      //-   button.button.button_primary.form__button(
      //-     (click)="play()"
      //-   ) Авторизоваться
    a.link.link_main.onboarding__link(
      href='registration.pug'
    ) Нет аккаунта?
    img.onboarding__jupyter(
      src='images/jupyter.png'
    )

block append scripts
  script(
    src='../src/modules/login/login.ts'
  )
